<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title><%= title %></title>
</head>

<body>
    <div>
        <header class="page-header">
            <div class="d-flex justify-content-between w-100 align-items-center">
                <div class="d-flex">
                    <img
                        src="https://sdlms.deepthought.education/assets//uploads/files/images/dt_logo.png"
                        class="rounded-circle dt-logo">
                    <div class="ml-2 pt-1">
                        <span class="header-text1">
                            LEADERSHIP DEVELOPMENT 
                        </span> 
                        <span class="header-text2"> 
                            INITIATIVE
                        </span>
                    </div>
                </div>
            </div>
            <div class="cursor-pointer">
                <i class="fa fa-sign-out logout-icon" aria-hidden="true"></i>
            </div>
        </header>
        <div class="project-container">
        
