<%- include("../../header") -%>

    <link rel="stylesheet" href="/stylesheets/app/request.css">

    <div class="d-flex justify-content-center">
        <h5>Dashboard</h5>
    </div>

    <div id="order-details" class="d-flex justify-content-center flex-column align-items-center"></div>

    <script src="/modules/table.js"></script>
    <script src="/javascript/app/delivery/dashboard.js"></script>

    <%- include("../../footer") -%>